body{
	color:white;
}
.container-fluid{
	padding-bottom:500px !important;
}
.nav{
	height:100%;
	position:fixed;
}
.jsgrid-cell, .jsgrid-grid-header{
	color:black !important;
}
section{
	max-height:100%;
}
.review-count{
	float: right;
}
.grid {
  width: 100%;
  height:35px;
  color:black;
}
.ui-grid-render-container{
	margin-bottom: 100px;
}