body{
  font-family: font-family: 'Poiret One', cursive;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Cantarell', sans-serif;
  font-family: 'Open Sans', sans-serif;

  /*background-color: #067dd8;*/
  background-color: #1D1D1D;
  font-family: 'Abel', sans-serif;
}
/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
  .container{
    font-size:26px;
  }
  .settings-legend{
    width:90%;
    margin-left:5%;
  }
  .search-row{
    margin-top:20px;
  }
  .div-search{
    margin-top:50px !important;
  }
  .info-panel{
    margin-top:20px !important;
    margin-bottom: 30px !important;
  }
  button{
    font-size:26px !important;
  }
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
  .container{
    font-size:26px;
  }
  .settings-legend{
    width:90%;
    margin-left:5%;
  }
  .search-row{
    margin-top: 20px;
  }
  .div-search{
    margin-top:50px !important;
  }
  .info-panel{
    margin-top:20px !important;
    margin-bottom: 30px !important;
  }
  button{
    font-size: 26px !important;
  }
}

/* Small Devices, Tablets -sm*/
@media only screen and (min-width : 768px) {
  .container{
    font-size:20px;
  }
  .settings-legend{
    width:75%;
    margin-left:12.5%;
  }
  .search-row{
    margin-top:20px;
  }
  .div-search{
    margin-top:50px !important;
  }
  .info-panel{
    margin-top:20px !important;
    margin-bottom: 30px !important;
  }
  button{
    font-size:22px !important;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .container{
    font-size:18px;
  }
  .settings-legend{
    width:60%;
    margin-left:20%;
  }
  .search-row{
    margin-top:20px;
  }
  .div-search{
    margin-top:50px !important;
  }
  .info-panel{
    margin-top:20px !important;
    margin-bottom: 30px !important;
  }
  button{
    font-size: 20px !important;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .settings-legend{
    width:40%;
    margin-left:30%;
    /*remaining width is 60% so we do half of 60% to be 30% on each side*/
  }
  .search-row{
    margin-top:20px;
  }
  .div-search{
    margin-top:50px !important;
  }
  .info-panel{
    margin-top:20px !important;
    margin-bottom: 30px !important;
  }
  button{
    font-size: 18px !important;
  }
}
a{
  pointer:cursur;
}
.stop-scrolling{
  height: 100%;
  overflow: hidden;
}
#loading{
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  display: block;
  background-color: #fff;
  z-index: 99;
  text-align: center;
}
#loading-image {
  position: absolute;
  margin: 0 auto;
  top: 30%;
  z-index: 100;
}

.row{
  margin-bottom:10px;
  margin-right:0;
  margin-left:0;
}
/*container through cols are bootstrap overrides to force elements to fill the page */
.container{
  width: 100% !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: 0 !important;
  margin-top: 0 !important;
}
#Container-mix > div{
  padding-right:0 !important;
  padding-left:0 !important;
}
/*end page fill BS overrides */
.navbar-fixed-top{
  padding-right: 25px;
  padding-left: 10px;
}
.navbar-brand .nav .navbar-header .navbar{
  /*background-color: #595f64;*/
  color: #C5CDD3;
}
.ui-hamburger {
  position: absolute;
  top: 10px;
  left: 10px;
  background: transparent;
  cursor: pointer;
  z-index: 99;
}
.ui-hamburger:hover{
  cursor: pointer;
  color: #fff;
}
.pulse{
  animation-name: pulse;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: 3;

  -webkit-animation: pulse;
  -webkit-animation-duration: 3s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: 3;

  -moz-animation: pulse;
  -moz-animation-duration: 3s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: 3;
}
@keyframes pulse {
  0% {opacity: 1;}
  50% {opacity: 0.2;}
  100% {opacity: 1;}
}
/*
.pulse-two{
  border: 10px solid #fff;
  background: transparent;
  -webkit-animation: pulse 2.5s ease-out;
  -moz-animation: pulse 2.5s ease-out;
  animation: pulse 2.5s ease-out;
  -webkit-animation-iteration-count: 5;
  -moz-animation-iteration-count: 5;
  animation-iteration-count: 5;
  z-index: 1;
  opacity: 0;
}
.pulse-three{
  border: 10px solid red;
  background: transparent;
  -webkit-animation: pulse 3s ease-out;
  -moz-animation: pulse 3s ease-out;
  animation: pulse 3s ease-out;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  animation-iteration-count: 1;
  z-index: 1;
  opacity: 0;
}
*/
@-moz-keyframes pulse {
 0% {
    fill: #fff;
 }
 25% {
    fill: #fff;
 }
 50% {
    fill: #fff;
 }
 75% {
    fill: #fff;
 }
 100% {
    fill: #a77915;
 }
}

@-webkit-keyframes "pulse" {
 0% {
    fill: #fff;
 }
 25% {
    fill: #fff;
 }
 50% {
    fill: #fff;
 }
 75% {
    fill: #fff;
 }
 100% {
    fill: #a77915;
 }
}
.container{
  width:94%;
  margin-left:3%;
  margin-top: 5%;
}
.game-item{
  background-size:cover;
  height:100%;
}
.game-title{
  position:absolute;
  left:0; top:50%;
  text-align: center;
  width:100%;
  color:white;
  display:flex;
  justify-content:center;
  align-items:center;
  pointer-events: none;
}
.games-row{
  height: 15%;
  position: relative;
}
.center{
  width: 90%;
  height: 90%;
  padding: 10px;
  margin: 10px auto;
}
.hover-cont{
  opacity:1;
  padding:2px;
}
.hover-out{
  opacity:1;
  /*background-color:#ccc;*/
  /*width: 100%;*/
}
.hover-in{
  opacity:0;
}
.hover-cont{
  position:relative;
  height:100%;
}
.hover-class{
  opacity:0.2;
  transition:opacity .3s;
  -moz-transition: opacity .3s ease-in-out;
  -webkit-transition: opacity .3s ease-in-out;
  cursor: pointer;
}
/*.hover-cont:hover .hover-in{
  opacity:1;
  tansition:opacity .5s;
}
.hover-cont:hover .hover-out{
  opacity: 0.5;
  transition: opacity 0.5s;
}/*
.hover-out, .hover-in{

}
/*.hover-cont:hover .hover-out{
  opacity:.5;
  transition:opacity .5s;
}*/
.div-search{
  margin-top:15px;
  text-align: center;
  margin-bottom:20px;
}
.input-search{
  border:none;
  border-bottom:1px solid #ccc;
  width:100%;
  background-color: transparent;
  font: 600 30px/30px OpenSans,sans-serif;
  outline: 0;
  color: #969696;
  margin-bottom:2%;
}
.search-row{
  margin-left:0 !important;
  margin-right:0 !important;
  display: none;
  margin-top: 2%;
}
::-webkit-input-placeholder { /* WebKit browsers */
    opacity: .3 !important;
}
.loading{
  position: absolute;
  z-index: 10;
  background-color: rgba(48, 48, 48, 0.85);
  display: none;
}
.submit-row{
  display: none;
  padding:3%;
  color:#fff;
}
#gameSearchTitle::-webkit-input-placeholder{
  color:black;
}
.gameSearchList{
  z-index: 5;
  position: absolute;
  background-color: rgba(48, 48, 48, 0.95);
  width: 100%;
  padding-left:0;
  cursor: pointer;
  height:400px;
  overflow: auto;
}
.gameSearchList > li{
  list-style-type:none;
}
.gameSearchList > li:hover{
  background-color: #5f5f5f;
}
.gameSearchList .fa-times{
  float:right;
}
.clearList{
  padding:10px;
}
#GameTitleSearchList{
  z-index: 20;
  position: absolute;
  background-color: rgba(125, 125, 125, 0.8);
  width: 100%;
  margin-right: 15px;
}
#Container-mix .mix{
  display: none;
}
.modal-cover{
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  opacity: 0.8;
  z-index = 3000;
  background-color: #000000;
  width: 100%;
  height: 100%;
  z-index: 5000;
  -webkit-filter:blur(5px);
  filter: blur(5px);
}
.modal-close{
  position: fixed;
  width:40px;
  height:40px;
  top:20px;
  right:20px;
  z-index: 9001;
  display: none;
}
.modal-close line{
  stroke:#848484;
  stroke-width:2;
}
.modal-close:hover{
  cursor: pointer;
}
.modal-close:hover line{
  stroke:#fff;
  opacity:1;
}
.btn-sort{
  background-color: transparent;
  border: none;
  color:#fff;
}
.sort-active{
  border-bottom: solid 1px #fff;
}
.btn-sort:hover{
  background-color: #fff;
  color:#0EA4BD;
}
.sort-panel{
  text-align: center;
}
button:focus {
  outline: 0;
}
.info-panel{
  margin-top:10px;
  margin-bottom:15px;
  text-align: center;
}
.info-panel a {
  text-decoration: none;
}
a:hover{
  cursor: pointer;
  color:#fff;
}
.modal-settings, .modal-about{
  display: none;
  z-index: 5005;
  /*position: fixed;
  temporary scroll fix*/
  position: absolute !important;
  color:white;
  top:15%;
  right:0;
  text-align: center;
}
.settings-radio{
  float:right;
}
.settings-radio-desc{
  float:left;
  margin:0;
}
.modal-player{
  display: none;
  z-index: 5005;
  position: fixed;
  top:0;
  right:0;
}
iframe:hover{
  cursor: pointer;
}
.iframe-small{
  width:80% !important;
  height:80% !important;
  left:10% !important;
}
.video-small{
  width:80% !important;
  height: 80% !important;
  margin-left: 10% !important;
}

.modal-container-playersize{
  z-index:9999;
  display: none;
  position: fixed;
  right:0;
  bottom: 0;
  margin-right: 30px;
  margin-bottom:10px;
}
.modal-container-playersize > div{
  display: inline-block;
  width:60px;
  height:40px;
  border:4px solid white;
  transition:all 0.2s ease;
  opacity:0.4;
}
.modal-container-playersize > div:hover{ 
  cursor: pointer;
  opacity: 1;
}
.modal-playersize-small{
  background-color:#ccc;
}
.modal-playersize-small:hover{
  /*box-shadow: inset 0 0 0 5px #53a7ea;*/
  box-shadow: inset 0 0 0 5px #fff;
}
.modal-playersize-large{
  background-color: #ccc;
  box-shadow: inset 0 0 0 5px #fff;
}
.modal-playersize-large:hover{
  box-shadow: inset 0 0 0 0px #fff;
}
.modal-playersize-full{
  background-color: #ccc;
  box-shadow: inset 0 0 0 1px #fff;
}
.modal-playersize-full:hover{
  box-shadow: inset 0 0 0 0px #fff;
  border:none;
}
video:-webkit-full-screen {
  width: 100%;
  height: 100%;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 100%;
    max-height:200px;
}