body{
  font-family: font-family: 'Poiret One', cursive;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Cantarell', sans-serif;
  font-family: 'Open Sans', sans-serif;

  /*background-color: #067dd8;*/
  background-color: #1D1D1D;
  font-family: 'Abel', sans-serif;
}
a{
  pointer:cursur;
}
.row{
  margin-bottom:10px;
}
/*container through cols are bootstrap overrides to force elements to fill the page */
.container{
  width: 100% !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: 0 !important;
  margin-top: 0 !important;
}
#Container > div{
  padding-right:0 !important;
  padding-left:0 !important;
}
/*end page fill BS overrides */
.navbar-fixed-top{
  padding-right: 25px;
  padding-left: 10px;
}
.navbar-brand .nav .navbar-header .navbar{
  /*background-color: #595f64;*/
  color: #C5CDD3;
}
.ui-hamburger {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 40px;
  width: 40px;
  background: transparent;
  cursor: pointer;
  z-index: 99;
}
.ui-hamburger svg {
  position: absolute;
  width: 20px;
  height: 17px;
  top: 50%;
  left: 50%;
  fill: #a77915;
}
.ui-hamburger:hover{
  background: #fff;
}
.container{
  width:94%;
  margin-left:3%;
  margin-top: 5%;
}
.game-item{
  background-size:cover;
  height:100%;
}
.game-title{
  position:absolute;
  left:0; top:50%;
  text-align: center;
  width:100%;
  color:white;
  display:flex;
  justify-content:center;
  align-items:center;
  pointer-events: none;
}
.games-row{
  height: 15%;
  position: relative;
}
.center{
  width: 90%;
  height: 90%;
  padding: 10px;
  margin: 10px auto;
}
.hover-cont{
  opacity:1;
  padding:2px;
}
.hover-out{
  opacity:1;
  /*background-color:#ccc;*/
  /*width: 100%;*/
}
.hover-in{
  opacity:0;
}
.hover-cont{
  position:relative;
  height:100%;
}
.hover-class{
  opacity:0.2;
  transition:opacity .3s;
  cursor: pointer;
}
/*.hover-cont:hover .hover-in{
  opacity:1;
  tansition:opacity .5s;
}
.hover-cont:hover .hover-out{
  opacity: 0.5;
  transition: opacity 0.5s;
}/*
.hover-out, .hover-in{

}
/*.hover-cont:hover .hover-out{
  opacity:.5;
  transition:opacity .5s;
}*/
.div-search{
  height:15%;
  margin-top:15px;
  text-align: center;
}
.input-search{
  border:none;
  border-bottom:1px solid #ccc;
  width:100%;
  background-color: transparent;
  font: 600 30px/30px OpenSans,sans-serif;
  outline: 0;
  color: #969696;
  margin-bottom:2%;
}
.search-row{
  margin-left:0 !important;
  margin-right:0 !important;
  display: none;
  margin-top: 2%;
}
::-webkit-input-placeholder { /* WebKit browsers */
    opacity: .3 !important;
}
#Container .mix{
  display: none;
}
.modalcover{
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  opacity: 0.0;
  z-index = 10000;
  background-color: #000000;
  display: none;
}
.btn-sort{
  background-color: transparent;
  border: none;
  color:#fff;
}
.btn-sort:hover{
  background-color: #fff;
  color:#0EA4BD;
}
.info-panel{
  position: relative;
  float: right;
}
.info-panel > a {
  color:#fff;
  display: block;
  margin-right:10px;
  text-decoration: none;
}
a:hover{
  cursor: pointer;
  color:#ccc;
}