body{
  font-family: font-family: 'Poiret One', cursive;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Cantarell', sans-serif;
  font-family: 'Open Sans', sans-serif;

  /*background-color: #067dd8;*/
  background-color: #1D1D1D;
}
.row{
  margin-bottom:10px;
}
.navbar-fixed-top{
  padding-right: 25px;
  padding-left: 10px;
}
.navbar-brand .nav .navbar-header .navbar{
  /*background-color: #595f64;*/
  color: #C5CDD3;
}
.container{
  width:94%;
  margin-left:3%;
  margin-top: 5%;
}
.game-item{
  background-size:cover;
  border-radius: 5px;
  height:100%;
}
.game-title{
  position:absolute;
  left:0; top:50%;
  text-align: center;
  width:100%;
  color:white;
  display:flex;
  justify-content:center;
  align-items:center;

  pointer-events: none;
}
.games-row{
  height: 15%;
  position: relative;
}
.center{
  width: 90%;
  height: 90%;
  padding: 10px;
  margin: 10px auto;
}
.hover-cont{
  opacity:1;
  padding:2px;
}
.hover-out{
  opacity:1;
  /*background-color:#ccc;*/
  /*width: 100%;*/
}
.hover-in{
  opacity:0;
}
.hover-cont{
  position:relative;
  height:100%;
}
.hover-class{
  opacity:0.4;
  transition:opacity .3s;
  cursor: pointer;
}
/*.hover-cont:hover .hover-in{
  opacity:1;
  tansition:opacity .5s;
}
.hover-cont:hover .hover-out{
  opacity: 0.5;
  transition: opacity 0.5s;
}/*
.hover-out, .hover-in{

}
/*.hover-cont:hover .hover-out{
  opacity:.5;
  transition:opacity .5s;
}*/
.div-search{
  height:15%
}
.input-search{
  border:none;
  border-bottom:1px solid #ccc;
  width:100%;
  background-color: transparent;
  font: 600 30px/30px OpenSans,sans-serif;
  outline: 0;
  color: #969696;

}
::-webkit-input-placeholder { /* WebKit browsers */
    opacity: .3 !important;
}
#Container .mix{
  display: none;
}